<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
  <title>Halo Stats | 404</title>
</head>
<body>
  <main>
    <%- include ('./partials/search.ejs') %>

    <section class="player">
      <img class="halo-icon" src="/images/halo1-icon.png" alt="halo icon confused">
      <h1>404 - Woops!</h1>
      <h2>You've taken a wrong turn, friend.</h2> 
    </section>
    
  </main>
</body>
</html>