<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
  <title>Halo Stats</title>
</head>
<body>
  <main>
    <form action="/player" method="GET">
      <input type="text" name="playerId" placeholder="Search by gamertag..." required>
      <span class="hint">Hint: Try 'Chicknmayo','SamTheSlayer444', or 'ThisPlayerDoesNotExist'</span>
      <button>Submit</button>
    </form>
  </main>
</body>
</html>